shamefully-hoist=true

# Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# npm 镜像
registry=https://registry.npmmirror.com/

# 缓存配置
cache=/Users/gaoyong/.pnpm-store

# 严格模式
strict-peer-dependencies=false

# 超时配置
fetch-timeout=60000
